[CORE]
WARNING_THRESHOLD = 0.70

[API_KEYS]
#CRYPTOCOMPARE_KEY = 

[PORTFOLIO]
COINBASEPRO_CRYPTOS = BTC,XLM,ETH
BINANCE_CRYPTOS = BNB,EOS,ADA
BITTREX_CRYPTOS = HYDRO
MISC_CRYPTOS = TRAC

[AWS]
SNS_TOPIC__FULL_REPORT = arn:aws:sns:us-east-1:123456789012:stop_loss_bot__full_report
SNS_TOPIC__WARNINGS = arn:aws:sns:us-east-1:123456789012:stop_loss_bot__warnings
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
